
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap');

*{

    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    appearance: none;


}


input, button, textarea{
padding: 0px;
margin: 0px;




}

body{
    --backdrop:#052240;
    --backdrop2:WHITE;
  
    --edge: 0px 30px 30px 0px ;
    --grey:grey;
    
    font-family: Arial, Helvetica, sans-serif;
    background: radial-gradient(circle, #030303 10%, transparent 11%),radial-gradient(circle at bottom left, #030303 5%, transparent 6%),radial-gradient(circle at bottom right, #030303 5%, transparent 6%),radial-gradient(circle at top left, #030303 5%, transparent 6%),radial-gradient(circle at top right, #030303 5%, transparent 6%);
    background-size: 1em 1em;
    background-color: #f5e0e0;
    opacity: 1;

font-family: 'Quicksand', sans-serif; 

}
body>div{
display: flex;
justify-content: center;
align-items: center;
box-shadow: 30px 30px 0px black;

height: 100vh;


}
.image{


  width: 500px;
  height: 500px;
  border-radius: 30px 0px 0px 30px;


}

#humans{

  height: 500px;
  width: 500px;
  border-radius: 30px 0px 0px 30px;
  
}
#Dummy_Logo{

width: 60px;
height: 70px;



}



.form{
background-color: var(--backdrop2);
display: flex;
flex-direction: column;

width: 500px;
height: 500px;

align-items: center;
border-radius:var(--edge) ;
}



label{
font-size: 14px;


}
form div{



padding: 0px 40px ;
display: flex;
position: relative;

justify-content: center;
gap: 30px;

}
ul{
display: flex;
flex-direction: column;

list-style: none;

}

input{
border-radius: 8.08px;
border:none ;
background-color:#EEEEEE;

padding: 13px;
}


form div :nth-child(2){
gap: 10px;

}
form div :nth-child(1){

gap: 10px;


}
form{
display: flex;
flex-direction: column;
gap: 50px;


}

button{
font-size: 17px;
width: 130px;
color:white;
background-color: black;
border-radius: 2px;
padding:10px;
border: none;
border-radius: 3px;

align-self: center;

}


button:hover {
      background-color:white;
      box-shadow:3px 3px 0px black;
   color: black;
   border: solid 2px black;
   font-weight: 400;
    
}
input:focus{
outline: 1px solid #333746;
}

.image{
   color: white;
    
    
 }
 .image p{


position: relative;
top: -100px;
width: 500px;
letter-spacing: 2px;
background-color: rgba(0,0,0, 50%);
padding-left: 30px;

 }

 p span{

    font-style: italic;


 }
 div>div{


  box-shadow: 12px 15px 0px black;

 }
 